* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100svh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}